<body>
     
       <form action = "http://localhost:5000/signup" method = post >
         <fieldset>
           <legend>Signup Form</legend>
           {{form.hidden_tag()}}

           <div style = "font-size:20px; font-weight:bold; margin-left:150px;">
             {{form.name.label }}<br>
             {{form.name}}
              {% for message in from.name.errors %}
            <span style="color:red"></span>
             {% endfor %}

             <br>
             {{form.Gender,label}} {{form.Gender}}
             {{ form.Address.label}}<br>
             {{form.Address}}
             <br>


             {{form.email.label}}<br>
             {{for.email}}
             {% for message in form.email %}
                <span style="color:red">{{message}}</span>
             {% endfor %}
             <br>

             {{form.Age.label}}<br>
             {{form.Age}}
             <br>



             {{form.submit}}
            </div>
         </fieldset>
       </form>
             
        	   
          

</body>



