<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="01.css" />



</head>




<body>
     
  <div id="page">

    <header>
    <div style="float:left;" >
    <li><a href="//www.28hse.com/">地產主頁</a></li>
    <li><a href="//www.28hse.com/buy">買樓</a></li>
    <li><a href="//www.28hse.com/rent">租屋</a></li>
    <li><a href="//www.28hse.com/utf8/help.php" >幫助中心</a></li>
    </div>

    <div style="float:right;">
    <li><a href="//www.28hse.com/utf8/member.php" class="current" ref='nofollow'>登入</a></li>
    <li><a href="//www.28hse.com/utf8/register.php" class="current" ref='nofollow'>會員註冊</a></li>
   </div>
    </header>

     <div id="main">
        <nav>
             搜尋各區樓盤
              <p>區域:</p>
              <li><a href="//www.28hse.com/">全部</a></li>
              <li><a href="//www.28hse.com/">香港島</a></li>
              <li><a href="//www.28hse.com/">九龍</a></li>
              <li><a href="//www.28hse.com/">新界</a></li>
              <li><a href="//www.28hse.com/">離島</a></li>
             <br>
             <br>
              <p>類別:</p>
              <li><a href="//www.28hse.com/">全部</a></li>
              <li><a href="//www.28hse.com/">住宅</a></li>
              <li><a href="//www.28hse.com/">工商廈</a></li>
              <li><a href="//www.28hse.com/">店舖</a></li>
              <li><a href="//www.28hse.com/">車位</a></li>
             <br>

            <form style="float:left;">
              <div>
                 <br>
                 <input type="text" size="30" name="searchresult" placeholder="搜尋: 地區、屋苑、街道">
                 <input type="submit" value=搜尋>
              </div>
            </form>
       
        </nav>

   </div>


   <div id="count"> 
        <nav>
          
             <div id="mb-tit clearfix"><span>按揭計算機</span></div>

       <form method="post" id="first" name="first" ;>
        <div>         
        <input type="text" size="18" name="sale_price" id="sale_price" placeholder="物業價值(萬)"> <label >萬元</label>
       </div>
        <br>
       <div> 
        <input type="text" size="18" name="down_percent" id="down_percent" placeholder="貸款比率(%)"> <label >%</label>
       </div> 
        <br>
       <div> 
        <input type="text" size="18" name="year_term" id="year_term" placeholder="按揭還款期(年)"> <label >年</label>
       </div>   
        <br>
       <div> 
        <input type="text" size="18" name="annual_interest_percent" id="annual_interest_percent" placeholder="按揭年息(%)"> <label >%</label>
       </div>   
        <br>         
        <br> 
       <div class="countb">
          <div>

                      <button type="button" onclick="">按揭計算</button>
                                      
          </div>
          
       </div> 
       
       <div class="cal_result" style="display:none;">
          <div class="cal_result_head" style="margin-bottom:10px;margin-top:10px;">
            按揭計算結果
          </div>
          
          <div>
          <label for="monthlyrepay">每月供款:</label> <input type="text" name="monthlyrepay" id="monthlyrepay" size="13" class="mort_cal_form_input">
          </div>
          <div>
          <label for="total_loan">貸款額:</label> <input type="text" name="total_loan" id="total_loan" size="13" class="mort_cal_form_input"> <label for="total_loan">萬元</label>
          </div>          
       </div>
       </form>


        </nav>

    
     </div>


        <div id=mainshow style="border:3px #cccccc solid;" cellpadding="10" border="1">





          

        </div>








     </div>

</body>

</html>


