{% block body %}

<body>
  <div class = "container">

    
    <form action = "/add" method = 'POST' >
       <d1>

             <br>
             {{form.protocol}}
             <br>{{ form.password.label}}<br>
             {{form.password}}
             <br>
             {{ form.email.label }}
             <br>
             {{ form.email }}
       </d1>
       <p><input type=submit value=Register></p>
    </form>

    {% if error %}
      <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}

  </div>
</body>

{% endblock %}
