{% extends "base.html" %}

{% block contect %}

  <div class = "container">

    <form>
      <h2>Please fill in</h2>
      <label>Name</label>
      <input type="text" id="inputname" placeholder="Name" required autofocus>

      <label>price</label>
      <input type="text" id="inputprice" placeholder="price" required autofocus>

      <label>interval</label>
      <input type="text" id="inputinterval" placeholder="interval" required autofocus>

      <label>age</label>
      <input type="text" id="inputage" placeholder="age" required autofocus>

      <label>project type</label>
      <input type="text" id="projecttype" placeholder="projecttype" required autofocus>

      <label>developer</label>
      <input type="text" id="inputdeveloper" placeholder="developer" required autofocus>

      <label>contactname</label>
      <input type="text" id="inputcontactname" placeholder="contactname" required autofocus>

      <label>contactnumber</label>
      <input type="text" id="inputcontactnumber" placeholder="contactnumber" required autofocus>
    </form>

  </div>


{% endblock %}


