<!DOCTYPE html>
<html>
<head>



<title>Win House</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css"> 
<!-- <link rel="stylesheet" href="css/bootstrap.min.css">-->

<!-- bootstrap js -->

<script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>

<!--<script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>  no this file
<script src="js/bootstrap.min.js" type="text/javascript"></script>
-->


</head>
<body >
  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  
  
 <div id="page" class="row">
  <header >
      <div class="col-xs-12 col-sm-6 col-md-8">
        <img  src="{{url_for('static', filename='main.jpg') }}">
        <br>
        <li ><a href="//www.28hse.com/">Main Page</a></li>
        <li><a href="//www.28hse.com/buy"  >Buy</a></li>
        <li><a href="//www.28hse.com/rent" >Rent</a></li>
        <li ><a href="//www.28hse.com/utf8/help.php" >Help Centre</a></li>
      </div>

       <div  class="col-xs-6 col-md-4"><li ><a href="//www.28hse.com/utf8/member.php" class="current" ref='nofollow'>LogIn</a>
        <input type="text" size="15" name="loginname" placeholder="login name">
        <input type="text" size="15" name="password" placeholder="password">
        <li "><a href="//www.28hse.com/utf8/register.php" class="current" ref='nofollow'>Sign Up</a></li>
      </div>      
  </header>

  <div class="row">
    <div class="col-xs-6 col-sm-4">Search
        <p>Area:</p>
        <li><a href="//www.28hse.com/">All</a></li>
        <li><a href="//www.28hse.com/">HK Island</a></li>
        <li><a href="//www.28hse.com/">Kowloon</a></li>
        <li><a href="//www.28hse.com/">N.T</a></li>
        <li><a href="//www.28hse.com/">Island</a></li>
       <br>
       <br>
        <p>Type:</p>
        <li><a href="//www.28hse.com/">All</a></li>
        <li ><a href="//www.28hse.com/">Residential</a></li>
        <li><a href="//www.28hse.com/">Business Building</a></li>
        <li><a href="//www.28hse.com/">Stores</a></li>
        <li><a href="//www.28hse.com/">Parking spaces</a></li>
       <br>
            
           <input type="text" size="30" name="searchresult" placeholder="Search:Area, Housing">
           <input type="submit" value=Search>
    </div>

    <div class="col-xs-6 col-sm-4">

            <span>Mortgage Calculator</span>

            <form method="post" id="first" name="first" ;>
                     
              <input type="text" size="18" name="sale_price" id="sale_price" placeholder="Property Value(ten thousand)"> <label >x $10000</label>            
          <br>            
                <input type="text" size="18" name="down_percent" id="down_percent" placeholder="Loan Ratio(%)"> <label >%</label>           
          <br>           
                <input type="text" size="18" name="year_term" id="year_term" placeholder="Mortgage Repayment Period(year)"> <label >Year</label>             
          <br>            
                <input type="text" size="18" name="annual_interest_percent" id="annual_interest_percent" placeholder="Monthly Mortgage (%)"> <label >%</label>
          <br>

                
              <button type="button" onclick="">Mortgage calculation</button>             

           </form>
    </div>
    <!-- Optional: clear the XS cols if their content doesn't match in height -->

    <div  class="col-xs-6 col-sm-4"> 
      <form>    
        <label for="monthlyrepay">Monthly contributions:</label> 
        <input type="text" name="monthlyrepay" id="monthlyrepay" size="13" class="mort_cal_form_input">
        <label for="total_loan">Loan Amount:</label> 
        <input type="text" name="total_loan" id="total_loan" size="13" class="mort_cal_form_input">
        <label for="total_loan">萬元</label>
            
      </form>
    </div>

  </div>

  




  </div>

  




</div>

</body>
</html>