{% extends "base.html" %}
{% block content %}
	<!-- Stack the columns on mobile by making one full-width and the other half-width -->
	
	
<div id="page" class="row">

<!--  	<div class="row">

		<div class="col-xs-12 col-sm-6 col-md-8">

			<ul class="nav nav-tabs">
			  <li role="presentation" class="active"><a href="#">Home</a></li>
			  <li role="presentation"><a href="#">For Buy</a></li>
			  <li role="presentation"><a href="#">For Rent</a></li>
			
			  <li>
				  <nav class="dropdown visible-xs">
					  <a href="#" class="btn btn-default" aria-label="Left Align" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="#">Login</a></li>
			            <li><a href="#">Sign In</a></li>
			          </ul>
		          </nav>
			  </li>
			</ul>

		</div>

		 <div  class="col-xs-6 col-md-4 hidden-xs">
		 	<nav class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acount <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Login</a></li>
	            <li><a href="#">Sign In</a></li>
	          </ul>
			</nav>
		</div>

	</div> -->


	

	<div class="row">
		<div class="col-xs-6 col-sm-4">Search:
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="heading">
			      <h3 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
			          Area
			        </a>
			      </h3>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        <li><a href="//www.28hse.com/">All</a></li>
			        <li><a href="//www.28hse.com/">HK Island</a></li>
			        <li><a href="//www.28hse.com/">Kowloon</a></li>
			        <li><a href="//www.28hse.com/">N.T</a></li>
			        <li><a href="//www.28hse.com/">Island</a></li>
			      </div>
			    </div>
			  </div>

			  <form class="navbar-form navbar-left">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Area, Housing">
		        </div>
		        <button type="submit" class="btn btn-default">Submit</button>
			  </form>
			 
			</div>
		</div>

		<div class="col-xs-6 col-sm-4">
			<span>Mortgage Calculator</span>
			<form method="post" id="first" name="first" ;>								 
				<input type="text" size="18" name="sale_price" id="sale_price" placeholder="Property Value(ten thousand)"> <label >x $10000</label><br>						
				<input type="text" size="18" name="down_percent" id="down_percent" placeholder="Loan Ratio(%)"> <label >%</label><br>					 
				<input type="text" size="18" name="year_term" id="year_term" placeholder="Mortgage Repayment Period(year)"> <label >Year</label><br>						
				<input type="text" size="18" name="annual_interest_percent" id="annual_interest_percent" placeholder="Monthly Mortgage (%)"> <label >%</label><br>
				<button type="button" onclick="">Mortgage calculation</button>						 
			 </form>
		</div>

		<!-- Optional: clear the XS cols if their content doesn't match in height -->
		<div class="col-xs-6 col-sm-4"> 
			<form>		
				<li>
					<label for="monthlyrepay">Monthly contributions:</label> 
					<input type="text" name="monthlyrepay" id="monthlyrepay" size="13" class="mort_cal_form_input">
				</li>
				<li>
					<label for="total_loan">Loan Amount:</label> 
					<input type="text" name="total_loan" id="total_loan" size="13" class="mort_cal_form_input"><label for="total_loan">萬元</label>
				</li>

			</form>
		</div>
	</div>
</div>
{% endblock %}
