{% extends "base.html" %}
{% block content %}
         <form class="form-horizontal" method="POST" action="/login">
		 <div class="row">
			 <div class="col-sm-4 col-sm-offset-4 text-center">
				<h2>Please sign in</h2>

				<label for="username">Username</label> 
				<input class="form-control" id="username" name="username" type="text" value="" required="required">

				{% if errmsg | length > 0 %}
					<li style="color:red">{{ errmsg }}</li>
				{% endif %}

				<label for="password">Password</label> 
				<input class="form-control" id="password" name="password" type="password" value="" required="required" >

				<input type="submit" class="btn btn-default" value="Sign In" />
			</div>
		</div>
	</form> 
{% endblock %}
