{% extends "base.html" %}
{% block content %}

	<div class="row">
		{% if error %}
		  	<p class="error"><strong>Error:</strong>{{ error }}</p>
	    	{% endif %}

		<form action = "/signup" method = 'POST' >
		       {{ form.username.label }}
		       <br>
		       {{form.username}}
		       {% for message in form.username.errors %}
			       <span style="color:red"></span>
		       {% endfor %}
		       <br>            
		       
		       {{ form.password.label}}
		       <br>
		       {{form.password}}
		       <br>

		       {{ form.email.label }}
		       <br>
		       {{ form.email }}
		       <p><input type="submit" value="Register"></p>
	       </form>
       </div>
{% endblock %}




