{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}


{% block contect %}

     <div class="container">
      
       <form class="form-signin" method="POST" action="/signup" >
         <h2 class="form-sgnin-heading">Sign Up</h2>
         {{ form.hidden_tag() }}
         {{ wtf.form_field(form.username) }}
         {{ wtf.form_field(form.password) }}
         {{ wtf.form_field(form.email) }}     
         <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>       
       </form>

     </div>

{% endblock %}
             
             