{% extends "base.html" %}
{% block content %}
	<form class="form-horizontal" action = "/signup" method = 'POST' >
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4 text-center">
				<h2>Sign up</h2>
				{% if error %}
					<p class="error"><strong>Error:</strong>{{ error }}</p>
				{% endif %}
				{{ form.username.label }}
				<br>
				{{form.username}}
				{% for message in form.username.errors %}
					<span style="color:red"></span>
				{% endfor %}
				<br>            

				{{ form.password.label}}
				<br>
				{{form.password}}
				<br>

				{{ form.email.label }}
				<br>
				{{ form.email }}
				<p><input class="btn btn-default" type="submit" value="Register"></p>
			</div>
		</div>
       </form>
{% endblock %}




